/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.8;
    color: #222222;
}

*:focus {
    outline: unset !important;
}

a:hover{
    color: #464646;
    text-decoration: none;
}

table tr td:first-child{
    width: 20% !important;
}

table tr td{
    font-size: 15px;
    color: #222222;
}

section{
    padding: 30px 0;
}

section ul{
    margin-left: 20px;
}

.back-to-top.button.icon{
    background-color: #b52828;
    color: #fff;
}
.back-to-top.button.icon:hover{
    border-color: #fff;
}

.slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow{
    background-color: #b52828;
    border-color: #b52828;
} 
.title-news{
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    color: #b52828;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.box-text{
    padding: 10px 0;
}

.box-text h3 {
    text-transform: uppercase;
    display: block;
    color: #0066b3;
    font-weight: bold;
    font-size: 15px;
}
.title-sidebar {
    position: relative;
    font-weight: bold;
    margin-bottom: 20px;
}
.title-sidebar span {
    font-weight: bold;
    line-height: 22px;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    background: #fff;
    color: #1a1a1a;
    padding: 4px 17px 4px 21px;
    position: relative;
    z-index: 2;
}
.title-sidebar span:before {
    border-right-color: #e64e05!important;
    border-top: 13px solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 14px solid rgba(0,0,0,.06);
}
h3.title-main{
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;
}
h3.title-main:before {
    border-right-color: #e64e05!important;
    border-top: 13px solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 14px solid rgba(0,0,0,.06);
}
h3.title-main:before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 0 solid transparent;
    top: 50%;
    margin-top: -7px;
}
.title-sidebar span:before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 0 solid transparent;
    top: 50%;
    margin-top: -7px;
}
.title-sidebar:after {
    position: absolute;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTM4IDc5LjE1OTgyNCwgMjAxNi8wOS8xNC0wMTowOTowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QjQ4NUVFODNGNzc1MTFFN0I4NTdCMTRBMzQ3RTIwNTQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QjQ4NUVFODRGNzc1MTFFN0I4NTdCMTRBMzQ3RTIwNTQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpCNDg1RUU4MUY3NzUxMUU3Qjg1N0IxNEEzNDdFMjA1NCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpCNDg1RUU4MkY3NzUxMUU3Qjg1N0IxNEEzNDdFMjA1NCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pk86A7EAAAASSURBVHjaYmBgYLBgIAgAAgwAB88AOccVbLsAAAAASUVORK5CYII=);
    opacity: 1;
    height: 10px;
    margin-top: -6px;
    background-color: transparent!important;
    top: 50%;
    left: 0;
    width: 100%;
    content: '';
    display: inline-block;
    -webkit-transition: .35s cubic-bezier(.39,.58,.57,1) 0s;
    -moz-transition: .35s cubic-bezier(.39,.58,.57,1) 0s;
    -o-transition: .35s cubic-bezier(.39,.58,.57,1) 0s;
    transition: .35s cubic-bezier(.39,.58,.57,1) 0s;
    z-index: 1;
}
.btn-readmore{
    background-color: #b52828;
    color: #fff;
    padding: 5px 15px;
}
.btn-readmore:hover{
    color: #fff;
}

.slider-main ,.activity{
    background: #e6e8e7;

}

.aboutus .box-image{
    border: 1px solid #b52828;
    padding: 3px;
}
.aboutus p{
    font-size: 14px;
    margin-bottom: 5px;
}
.activity .item{
    padding: 5px;
    background: #fff;
    -webkit-box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
    border: solid 1px rgba(151,151,151,.25);
    -webkit-transition: all .5s;
    transition: all .5s;
    margin: 0px 0px 20px 0px;
    text-align: center;
    position: relative;
}

.projects .item{
    padding: 10px;
    text-align: center;
}
.projects .box-text{
    background-color: #e6e8e7;
}
.news p{
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
           line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.title-project{
    position: relative;
    display: inline-block;
    font-size: 22px;
    margin-bottom: 15px;
}

.title-project span{
    padding: 0 28px;
    line-height: 40px;
}

.title-project:before, .title-project:after {
    top: 0;
    left: 0;
}
.title-project:before, .title-project span:before, .title-project:after, .title-project span:after {
    position: absolute;
    content: "";
    background-color: #f1ba79;
}

.title-project span:before, .title-project span:after {
    bottom: 0;
    right: 0;
}

.title-project:before, .title-project span:before {
    height: 1px;
    width: 50px;
}


.title-project:after, .title-project span:after {
    width: 1px;
    height: 11px;
}

.title-project:after, .title-project span:after {
    width: 1px;
    height: 15px;
}
.post-meta{
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ededed;
}
.meta-date{
    font-size: 13px;

}
.meta-date i{
    margin-right: 5px;
}

/* sitebar */
.content-sidebar h5{
    font-family: 'Roboto';
    font-weight: bold;
    color: #222222;
    font-size: 14px;
    text-transform: capitalize;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
           line-clamp: 3; 
    -webkit-box-orient: vertical;
}
.content-sidebar p{
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 0;
}
.content-sidebar .image{
    padding: 0;
}
.content-sidebar .image img{
    max-height: 80px;
}
.content-sidebar .item{
    border-bottom: 1px dotted #ededed;
    padding: 10px 0;
}

.content-sidebar .fa:before{
    margin-top: 4px;
    font-size: 13px;
}
/* breadcrumb */
.breadcrumb{
    margin-bottom: 0;
}
.sb_breadcrumb{
    margin-bottom: 0;
}
.sb_breadcrumb li{
    margin-bottom: 0;
}

.slider-nav-light .flickity-page-dots .dot.is-selected{
    background-color: #b52828;
}
.slider-nav-light .flickity-page-dots .dot{
    background-color: #b52828;
}
.footer{
    background-color: #b52828;
    padding: 30px 0;
}
.footer h4{
    color: #ffbf00;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer p,
.footer .link-project h5{
    color: #fff;
    font-size: 15px;
    margin-bottom: 7px;
}

.form-mail{
    max-width: 500px;
    margin: 0 auto;
}

.form-mail input{
    border-radius: 10px;
}

.form-mail p{
    font-size: 14px;
    line-height: 1.4;
}

.footer .logo img{
    width: 200px;
}

.box-mail{
    background: #ffffff;
    max-width: 665px;
    margin: 0 auto;
    padding-top: 30px;
    border: 4px dashed #b52828;
    border-radius: 5px;
}

.thanhtoan img{
    width: 90%;
}

@media (max-width: 575.98px) { 
    
    #logo-footer img{
        width: 150px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .footer h4{
        font-size: 85%;
    }
    .footer p,
    .footer .link-project h5{
        font-size: 90%;
    }
    .copyright-footer{
        font-size: 11px;
    }
    .title-project{
        font-size: 16px;
    }
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {
    .slider-main .content{
        display: flex;
        flex-direction: column-reverse;
    }
    .slider-main .content .news{
        margin-bottom: 20px;
    }
    .aboutus .title-main,
    .slider-main .content .title-main{
        margin-top: 20px;
    }  
    .row-slider .flickity-prev-next-button{
        display: none;
    }
}